<form (ngSubmit)="submitRequest()" #requestForm="ngForm">
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-3 form-group">
            <label for="summary" i18n>Summary</label>
            <input type="text" class="form-control" id="summary" required [(ngModel)]="request.summary" name="summary" #summary="ngModel" matTooltip="The content of the request in one sentence" i18n-matTooltip>
            <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger" i18n>Summary is required</div>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-5 p-3 mb-3 form-group">
            <label for="language" i18n>Language Refset</label>
            <select class="form-control" id="language" [(ngModel)]="request.language" name="language" #language="ngModel" matTooltip="Select the language the request is for" i18n-matTooltip>
                <option value="None" selected i18n>None</option>
                <option value="Belgian Dutch" i18n>Belgian Dutch</option>
                <option value="Belgian French" i18n>Belgian French</option>
                <option value="Danish" i18n>Danish</option>
                <option value="Estonian" i18n>Estonian</option>
                <option value="IE English" i18n>IE English</option>
                <option value="GB English" i18n>GB English</option>
                <option value="Māori" i18n>Māori</option>
                <option value="Norwegian Bokmal" i18n>Norwegian Bokmål</option>
                <option value="Norwegian Nyorsk" i18n>Norwegian Nynorsk</option>
                <option value="NZ English" i18n>NZ English</option>
                <option value="Swedish" i18n>Swedish</option>
                <option value="Swiss German" i18n>Swiss German</option>
                <option value="Swiss Italian" i18n>Swiss Italian</option>
                <option value="Swiss French" i18n>Swiss French</option>
                <option value="US English" i18n>US English</option>
            </select>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="context" i18n>Context Refset</label>
            <select class="form-control" id="context" [(ngModel)]="request.context" name="context" #context="ngModel" matTooltip="Select the context the request is for" i18n-matTooltip>
                <option value="None" selected i18n>None</option>
                <option value="BE GP - Dutch" i18n>BE GP - Dutch</option>
                <option value="BE GP - French" i18n>BE GP - French</option>
                <option value="NZ Patient Friendly - English" i18n>NZ Patient Friendly - English</option>
                <option value="SE Chief Complaints" i18n>SE Chief Complaints</option>
                <option value="SE Dose Unit Abbr." i18n>SE Dose Unit Abbr.</option>
                <option value="SE Lab Medicine" i18n>SE Lab Medicine</option>
                <option value="SE Dose Unit Plural" i18n>SE Dose Unit Plural</option>
                <option value="SE Medication Prof." i18n>SE Medication Prof.</option>
                <option value="SE Medication Common" i18n>SE Medication Common</option>
            </select>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-5 p-3 mb-0 form-group">
            <label for="newFSN" i18n>New FSN</label>
            <input type="text" class="form-control" id="newFSN" required [(ngModel)]="request.newFSN" name="newFSN" #newFSN="ngModel" matTooltip="The FSN must be in English" i18n-matTooltip>
            <div [hidden]="newFSN.valid || newFSN.pristine" class="alert alert-danger" i18n>New FSN is required</div>
        </div>
        <div class="col-5 p-3 mb-0 form-group">
            <label for="newPreferredTerm" i18n>New Preferred Term</label>
            <input type="text" class="form-control" id="newPreferredTerm" required [(ngModel)]="request.newPreferredTerm" name="newPreferredTerm" #newPreferredTerm="ngModel" matTooltip="This is the PT in the extension language" i18n-matTooltip>
            <div [hidden]="newPreferredTerm.valid || newPreferredTerm.pristine" class="alert alert-danger" i18n>New Preferred Term is required</div>
        </div>
        <div class="offset-1 col-5 p-3 mb-0 form-group">
            <label for="synonyms" i18n>New Synonyms</label>
            <input type="text" class="form-control" id="synonyms" [(ngModel)]="request.synonyms" name="synonyms" matTooltip="Please enter synonyms separated by comma" i18n-matTooltip>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="parentConcept" i18n>Parent Concept</label>
            <div class="input-group">
                <input type="text" class="form-control" id="parentConcept" required [(ngModel)]="request.parentConcept" name="parentConcept" [ngbTypeahead]="search" placeholder="Type to Search..." i18n-placeholder #parentConcept="ngModel" matTooltip="Please add SCT ID if known" i18n-matTooltip>
                <div class="input-group-append"><span class="input-group-text"><i class="fas fa-search"></i></span></div>
            </div>
            <div [hidden]="parentConcept.valid || parentConcept.pristine" class="alert alert-danger" i18n>Parent Concept is required</div>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="justification" i18n>Justification</label>
            <input type="text" class="form-control" id="justification" [(ngModel)]="request.justification" name="justification" matTooltip="Detailed description of clinical or administrative need for the request" i18n-matTooltip>
        </div>
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="reference" i18n>Reference</label>
            <input type="text" class="form-control" id="reference" [(ngModel)]="request.reference" name="reference" matTooltip="Add one or more sources where the concept is described" i18n-matTooltip>
        </div>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-secondary p-3 px-5" (click)="requestForm.reset()" i18n>RESET</button>
        <button type="submit" class="btn btn-success p-3 px-5 m-5" [disabled]="!requestForm.form.valid" i18n>SUBMIT</button>
    </div>
</form>
