<nav class="navbar sticky-top navbar-dark bg-dark p-2 pr-2">
    <a class="logo" routerLink="/">
        <img class="logo mr-2 p-0" src="./assets/small_logo.png" alt="Logo">
        <span class="title text-ghost-grey" i18n>SNOMED CT Request Management Portal</span>
    </a>

    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner text-white local"></div>
        <div *ngSwitchCase="'dev'" class="banner text-white dev"></div>
        <div *ngSwitchCase="'uat'" class="banner text-white uat"></div>
        <div *ngSwitchCase="'training'" class="banner text-white training"></div>
        <div *ngSwitchDefault class="banner text-white d-none"></div>
    </ng-container>

    <span class="pr-5">
        <ul class="dropdown-nav mr-auto my-2">
            <li class="nav-item dropdown">
                <a class="nav-link px-3 rounded text-ghost-grey dropdown-toggle" href="#" data-target="#navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="pb-1 pr-1" src="./assets/flags/{{siteFlag}}.png" alt="English">
                </a>
                <div id="navbarDropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-ghost-grey" href="/en/"><img class="p-2" src="./assets/flags/gb.png" alt="English"></a>
                    <a class="dropdown-item text-ghost-grey" href="/fr/"><img class="p-2" src="./assets/flags/fr.png" alt="French"></a>
                </div>
            </li>
        </ul>
    </span>


<!--    <div *ngIf="user" class="float-right mx-3">-->
<!--        <div class="logout d-inline-block m-2" (click)="logout()">-->
<!--            <span class="px-2 text-ghost-grey">Logout</span>-->
<!--        </div>-->
<!--        <div class="user d-inline-block m-2">-->
<!--            <span class="px-2 text-ghost-grey">{{user.firstName}} {{user.lastName}}</span>-->
<!--            <img class="rounded-circle mx-3" src="https://jira.ihtsdotools.org/secure/useravatar?ownerId={{user.login}}">-->
<!--        </div>-->
<!--    </div>-->
</nav>
