<footer class="footer bg-dark">
    <a class="px-3" href="http://www.snomed.org/" target="_blank">Copyright © {{year}} SNOMED International</a>
    <a *ngIf="extension?.userGuideUrl" class="px-3" [href]="extension.userGuideUrl" target="_blank">{{ 'footer.userGuide' | translate}}</a>
    <a *ngIf="extension?.contactUsUrl" class="px-3" [href]="extension.contactUsUrl" target="_blank">{{ 'footer.contactUs' | translate}}</a>
    <a *ngIf="configuration?.version" class="px-3 float-end">{{configuration.version}}</a>
</footer>
