<form (ngSubmit)="submitRequest()" #requestForm="ngForm">
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-3 form-group">
            <label for="summary">Summary</label>
            <input type="text" class="form-control" id="summary" required [(ngModel)]="request.summary" name="summary" #summary="ngModel">
            <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger">Summary is required</div>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="concept">Concept</label>
            <input type="text" class="form-control" id="concept" [(ngModel)]="request.concept" name="concept" [ngbTypeahead]="search" (selectItem)="populateConceptFields($event)" placeholder="Search for Concepts...">
        </div>
        <div class="offset-1 col-5 p-3 mb-3 form-group">
            <label for="conceptId">Concept ID</label>
            <input type="text" class="form-control" id="conceptId" required [(ngModel)]="request.conceptId" name="conceptId" #conceptId="ngModel">
            <div [hidden]="conceptId.valid || conceptId.pristine" class="alert alert-danger">Concept ID is required</div>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="conceptName">Concept Name</label>
            <input type="text" class="form-control" id="conceptName" required [(ngModel)]="request.conceptName" name="conceptName" #conceptName="ngModel">
            <div [hidden]="conceptName.valid || conceptName.pristine" class="alert alert-danger">Concept Name is required</div>
        </div>
        <div class="offset-1 col-5 p-3 mb-3 form-group">
            <label for="relationshipType">Relationship Type</label>
            <select class="form-control" id="relationshipType" required [(ngModel)]="request.relationshipType" name="relationshipType" #relationshipType="ngModel">
                <option value="None">None</option>
                <option value="Is a">Is a</option>
                <option value="Associated Morphology">Associated Morphology</option>
                <option value="Finding Site">Finding Site</option>
                <option value="Procedure Site">Procedure Site</option>
                <option value="Unknown">Unknown</option>
                <option value="Other">Other</option>
            </select>
            <div [hidden]="relationshipType.valid || relationshipType.pristine" class="alert alert-danger">Relationship Type is required</div>
        </div>
        <div class="col-5 p-3 mb-0 form-group">
            <label for="newRelationship">Relationship Target</label>
            <input type="text" class="form-control" id="newRelationship" required [(ngModel)]="request.newRelationship" name="newRelationship" [ngbTypeahead]="search" #newRelationship="ngModel" placeholder="Search for Concepts...">
            <div [hidden]="newRelationship.valid || newRelationship.pristine" class="alert alert-danger">Relationship Target is required</div>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="justification">Justification</label>
            <input type="text" class="form-control" id="justification" [(ngModel)]="request.justification" name="justification">
        </div>
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="reference">Reference</label>
            <input type="text" class="form-control" id="reference" [(ngModel)]="request.reference" name="reference">
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary p-3 px-5" (click)="requestForm.reset()" i18n>RESET</button>
        <button type="submit" class="btn btn-success p-3 px-5 m-5" [disabled]="!requestForm.form.valid" i18n>SUBMIT</button>
    </div>
</form>
