<form (ngSubmit)="submitRequest()" #requestForm="ngForm">
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-3 form-group">
            <label for="summary" i18n>Summary</label>
            <input type="text" class="form-control" id="summary" required [(ngModel)]="request.summary" name="summary" #summary="ngModel">
            <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger" i18n>Summary is required</div>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="concept" i18n>Concept</label>
            <div class="input-group">
                <input type="text" class="form-control" id="concept" [(ngModel)]="request.concept" name="concept" [ngbTypeahead]="search" (selectItem)="populateConceptFields($event)" placeholder="Type to Search..." i18n-placeholder>
                <div class="input-group-append"><span class="input-group-text"><i class="fas fa-search"></i></span></div>
            </div>

        </div>
        <div class="offset-1 col-5 p-3 mb-3 form-group">
            <label for="conceptId" i18n>Concept ID</label>
            <input type="text" class="form-control" id="conceptId" required [(ngModel)]="request.conceptId" name="conceptId" #conceptId="ngModel">
            <div [hidden]="conceptId.valid || conceptId.pristine" class="alert alert-danger" i18n>Concept ID is required</div>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="conceptName" i18n>Concept Name</label>
            <input type="text" class="form-control" id="conceptName" required [(ngModel)]="request.conceptName" name="conceptName" #conceptName="ngModel">
            <div [hidden]="conceptName.valid || conceptName.pristine" class="alert alert-danger" i18n>Concept Name is required</div>
        </div>
        <div class="offset-1 col-10 p-3 mb-3 form-group">
            <label for="newDescription" i18n>New Description</label>
            <input type="text" class="form-control" id="newDescription" required [(ngModel)]="request.newDescription" name="newDescription" #newDescription="ngModel">
            <div [hidden]="newDescription.valid || newDescription.pristine" class="alert alert-danger" i18n>New Description is required</div>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="justification" i18n>Justification</label>
            <input type="text" class="form-control" id="justification" [(ngModel)]="request.justification" name="justification">
        </div>
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="reference" i18n>Reference</label>
            <input type="text" class="form-control" id="reference" [(ngModel)]="request.reference" name="reference">
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary p-3 px-5" (click)="requestForm.reset()" i18n>RESET</button>
        <button type="submit" class="btn btn-success p-3 px-5 m-5" [disabled]="!requestForm.form.valid" i18n>SUBMIT</button>
    </div>
</form>
