<form (ngSubmit)="submitRequest()" #requestForm="ngForm">
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-3 form-group">
            <label for="summary" i18n>Summary</label>
            <input type="text" class="form-control" id="summary" required [(ngModel)]="request.summary" name="name" #summary="ngModel" matTooltip="The content of the request in one sentence" i18n-matTooltip>
            <div [hidden]="summary.valid || summary.pristine" class="alert alert-danger" i18n>Summary is required</div>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-5 p-3 mb-3 form-group">
            <label for="language" i18n>Language Refset</label>
            <select class="form-control" id="language" [(ngModel)]="request.language" name="language" #language="ngModel" matTooltip="Select the language the request is for" i18n-matTooltip>
                <option value="None" i18n>None</option>
                <option value="Belgian Dutch" i18n>Belgian Dutch</option>
                <option value="Belgian French" i18n>Belgian French</option>
                <option value="Danish" i18n>Danish</option>
                <option value="Estonian" i18n>Estonian</option>
                <option value="IE English" i18n>IE English</option>
                <option value="GB English" i18n>GB English</option>
                <option value="Maori" i18n>Maori</option>
                <option value="Norwegian Bokmal" i18n>Norwegian Bokmal</option>
                <option value="Norwegian Nyorsk" i18n>Norwegian Nyorsk</option>
                <option value="NZ English" i18n>NZ English</option>
                <option value="Swedish" i18n>Swedish</option>
                <option value="Swiss German" i18n>Swiss German</option>
                <option value="Swiss Italian" i18n>Swiss Italian</option>
                <option value="Swiss French" i18n>Swiss French</option>
                <option value="US English" i18n>US English</option>
            </select>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="context" i18n>Context Refset</label>
            <select class="form-control" id="context" [(ngModel)]="request.context" name="context" #context="ngModel" matTooltip="Select the context the request is for" i18n-matTooltip>
                <option value="None" i18n>None</option>
                <option value="BE GP - Dutch" i18n>BE GP - Dutch</option>
                <option value="BE GP - French" i18n>BE GP - French</option>
                <option value="NZ Patient Friendly - English" i18n>NZ Patient Friendly - English</option>
                <option value="SE Chief Complaints" i18n>SE Chief Complaints</option>
                <option value="SE Dose Unit Abbr." i18n>SE Dose Unit Abbr.</option>
                <option value="SE Lab Medicine" i18n>SE Lab Medicine</option>
                <option value="SE Dose Unit Plural" i18n>SE Dose Unit Plural</option>
                <option value="SE Medication Prof." i18n>SE Medication Prof.</option>
                <option value="SE Medication Common" i18n>SE Medication Common</option>
            </select>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="concept" i18n>Concept</label>
            <div class="input-group">
                <input type="text" class="form-control" id="concept" [(ngModel)]="request.concept" name="concept" [ngbTypeahead]="search" (selectItem)="populateConceptFields($event)" placeholder="Type to Search..." i18n-placeholder matTooltip="Search for concepts" i18n-matTooltip>
                <div class="input-group-append"><span class="input-group-text"><i class="fas fa-search"></i></span></div>
            </div>
        </div>
        <div class="offset-1 col-5 p-3 mb-3 form-group">
            <label for="conceptId" i18n>Concept ID</label>
            <input type="text" class="form-control" id="conceptId" required [(ngModel)]="request.conceptId" name="conceptId" #conceptId="ngModel" matTooltip="Is auto filled when searched" i18n-matTooltip>
            <div [hidden]="conceptId.valid || conceptId.pristine" class="alert alert-danger" i18n>Concept ID is required</div>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="conceptName" i18n>Concept Name</label>
            <input type="text" class="form-control" id="conceptName" required [(ngModel)]="request.conceptName" name="conceptName" #conceptName="ngModel" matTooltip="Is auto filled when searched" i18n-matTooltip>
            <div [hidden]="conceptName.valid || conceptName.pristine" class="alert alert-danger" i18n>Concept Name is required</div>
        </div>
        <div class="offset-1 col-5 p-3 mb-0 form-group">
            <label for="existingDescription" i18n>Existing Description</label>
            <input type="text" class="form-control" id="existingDescription" required [(ngModel)]="request.existingDescription" name="existingDescription" #existingDescription="ngModel" matTooltip="The description to be changed" i18n-matTooltip>
            <div [hidden]="existingDescription.valid || existingDescription.pristine" class="alert alert-danger" i18n>Existing Description is required</div>
        </div>
        <div class="col-5 p-3 mb-3 form-group">
            <label for="newDescription" i18n>New Description</label>
            <input type="text" class="form-control" id="newDescription" required [(ngModel)]="request.newDescription" name="newDescription" #newDescription="ngModel" matTooltip="The new description in the extension language" i18n-matTooltip>
            <div [hidden]="newDescription.valid || newDescription.pristine" class="alert alert-danger" i18n>New Description is required</div>
        </div>
    </div>
    <div class="form-break mb-2"></div>
    <div class="row">
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="justification" i18n>Justification</label>
            <input type="text" class="form-control" id="justification" [(ngModel)]="request.justification" name="justification" matTooltip="Detailed description of clinical or administrative need for the request" i18n-matTooltip>
        </div>
        <div class="offset-1 col-10 p-3 mb-0 form-group">
            <label for="reference" i18n>Reference</label>
            <input type="text" class="form-control" id="reference" [(ngModel)]="request.reference" name="reference" matTooltip="Add one or more sources where the concept is described" i18n-matTooltip>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary p-3 px-5" (click)="requestForm.reset()" i18n>RESET</button>
        <button type="submit" class="btn btn-success p-3 px-5 m-5" [disabled]="!requestForm.form.valid" i18n>SUBMIT</button>
    </div>
</form>
