<div class="overflow-auto text-sm mt-12" *ngIf="request">
    <div class="border border-gray-300 overflow-auto w-2/3 justify-self-center m-5 rounded-lg">
        <table class="border-collapse table-auto w-full text-sm">
            <tbody class="bg-white dark:bg-slate-800">
            <tr class="bg-sky-50">
                <th class="font-normal text-slate-700 text-base py-2">#{{request.id}}</th>
                <th class="font-normal text-sky-500 text-base py-2">{{request.summary}}</th>
                <th class="font-normal text-slate-700 text-base py-2">{{request.type}}</th>
                <th class="font-normal text-slate-700 text-base py-2">
                    <span class="rounded-full bg-red-500 text-white px-3 py-1 font-normal tracking-widest">{{request.status}}</span>
                </th>
                <th class="font-normal text-slate-700 text-base py-2">{{request.created | date:'yyyy/MM/dd':'UTC'}}</th>
                <th class="font-normal text-slate-700 text-base py-2">{{request.reporter}}</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="border border-gray-300 grid grid-cols-2 gap-6 w-2/3 justify-self-center mt-5 mb-3 bg-slate-200 rounded-lg p-3">
        <div>
            <label for="name" class="text-sm text-slate-700 font-medium">Name<span class="text-red-500 ps-1">*</span></label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                    <input type="text" name="Name" id="name" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                </div>
            </div>
        </div>
        <div>
            <label for="type" class="text-sm text-slate-700 font-medium">Type</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border border-gray-300 bg-lime-50">
                    <select name="Type" id="type" class="grow py-1.5 text-slate-700 bg-lime-50 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-9 font-medium" [(ngModel)]="formType">
                        <option [value]="'add-concept'">Add Concept</option>
                        <option [value]="'add-description'">Add Description</option>
                        <option [value]="'add-relationship'">Add Relationship</option>
                        <option [value]="'add-refset'">Add Refset</option>
                        <option [value]="'change-description'">Change Description</option>
                        <option [value]="'change-relationship'">Change Relationship</option>
                        <option [value]="'change-refset'">Change Refset</option>
                        <option [value]="'inactivate-description'">Inactivate Description</option>
                        <option [value]="'inactivate-relationship'">Inactivate Relationship</option>
                        <option [value]="'other'">Other</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label for="languageRefset" class="text-sm text-slate-700 font-medium">Language Refset</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                    <select name="Language Refset" id="languageRefset" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-9 font-medium">
                        <option>Belgian Dutch</option>
                        <option>Belgian French</option>
                        <option>Danish</option>
                        <option>French</option>
                        <option>IE English</option>
                        <option>GB English</option>
                        <option>Maori</option>
                        <option>Norwegian Bokmal</option>
                        <option>Norwegian Nynorsk</option>
                        <option>NZ English</option>
                        <option>Swedish</option>
                        <option>Swiss German</option>
                        <option>Swiss Italian</option>
                        <option>Swiss French</option>
                        <option>US English</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label for="contextRefset" class="text-sm text-slate-700 font-medium">Context Refset</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                    <select name="Context Refset" id="contextRefset" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-9 font-medium">
                        <option>BE GP - Dutch</option>
                        <option>BE GP - French</option>
                        <option>NZ Patient Friendly - English</option>
                        <option>SE Chief Complaints</option>
                        <option>SE Dose Unit Abbr.</option>
                        <option>SE Lab Medicine</option>
                        <option>SE Dose Unit Plural</option>
                        <option>SE Medication Prof.</option>
                        <option>SE Medication Common</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-span-2 border-b border-gray-300 -mx-3"></div>

        <ng-container *ngIf="formType === 'add-concept'">
            <div>
                <label for="newFSN" class="text-sm text-slate-700 font-medium">New FSN<span class="text-red-500 ps-1">*</span></label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <input type="text" name="New FSN" id="newFSN" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                    </div>
                </div>
            </div>
            <div>
                <label for="newPT" class="text-sm text-slate-700 font-medium">New Preferred Term<span class="text-red-500 ps-1">*</span></label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <input type="text" name="New Preferred Term" id="newPT" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                    </div>
                </div>
            </div>
            <div>
                <label for="newSynonyms" class="text-sm text-slate-700 font-medium">New Synonyms</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <input type="text" name="New Synonyms" id="newSynonyms" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                    </div>
                </div>
            </div>
            <div>
                <label for="parentConcept" class="text-sm text-slate-700 font-medium">Parent Concept<span class="text-red-500 ps-1">*</span></label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <i class="fa-solid text-slate-700 fa-search text-lg pe-2"></i>
                        <input type="text" name="Parent Concept" id="parentConcept" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium" placeholder="Type to search...">
                    </div>
                </div>
            </div>

            <div class="col-span-2 border-b border-gray-300 -mx-3"></div>
        </ng-container>

        <ng-container *ngIf="formType === 'add-description' || formType === 'add-relationship' || formType === 'change-description' || formType === 'change-relationship' || formType === 'inactivate-description' || formType === 'inactivate-relationship'">
            <div class="col-span-2">
                <label for="concept" class="text-sm text-slate-700 font-medium">Concept</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <i class="fa-solid text-slate-700 fa-search text-lg pe-2"></i>
                        <input type="text" name="Concept" id="concept" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium" placeholder="Type to search...">
                    </div>
                </div>
            </div>
            <div>
                <label for="conceptId" class="text-sm text-slate-700 font-medium">Concept ID<span class="text-red-500 ps-1">*</span></label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <input type="text" name="Concept ID" id="conceptId" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                    </div>
                </div>
            </div>
            <div>
                <label for="conceptName" class="text-sm text-slate-700 font-medium">Concept Name<span class="text-red-500 ps-1">*</span></label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                        <input type="text" name="Concept Name" id="conceptName" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                    </div>
                </div>
            </div>
            <ng-container *ngIf="formType === 'add-description'">
                <div class="col-span-2">
                    <label for="newDescription" class="text-sm text-slate-700 font-medium">New Description<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="New Description" id="newDescription" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="formType === 'add-relationship'">
                <div>
                    <label for="relationshipType" class="text-sm text-slate-700 font-medium">Relationship Type<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="Relationship Type" id="relationshipType" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
                <div>
                    <label for="relationshipTarget" class="text-sm text-slate-700 font-medium">Relationship Target<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <i class="fa-solid text-slate-700 fa-search text-lg pe-2"></i>
                            <input type="text" name="Relationship Target" id="relationshipTarget" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium" placeholder="Type to search...">
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="formType === 'change-description'">
                <div>
                    <label for="existingDescription" class="text-sm text-slate-700 font-medium">Exisiting Description<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="Exisiting Description" id="existingDescription" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
                <div>
                    <label for="newChangeDescription" class="text-sm text-slate-700 font-medium">New Description<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="New Description" id="newChangeDescription" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="formType === 'change-relationship'">
                <div class="col-span-2">
                    <label for="existingRelationship" class="text-sm text-slate-700 font-medium">Exisiting Relationship<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="Exisiting Relationship" id="existingRelationship" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
                <div>
                    <label for="relationshipChangeType" class="text-sm text-slate-700 font-medium">Relationship Type<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="Relationship Change Type" id="relationshipChangeType" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
                <div>
                    <label for="relationshipChangeTarget" class="text-sm text-slate-700 font-medium">Relationship Target<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <i class="fa-solid text-slate-700 fa-search text-lg pe-2"></i>
                            <input type="text" name="Relationship Change Target" id="relationshipChangeTarget" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium" placeholder="Type to search...">
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="formType === 'inactivate-description'">
                <div class="col-span-2">
                    <label for="inactivateExistingDescription" class="text-sm text-slate-700 font-medium">Exisiting Description<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="Exisiting Description" id="inactivateExistingDescription" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="formType === 'inactivate-relationship'">
                <div class="col-span-2">
                    <label for="inactivateExistingRelationship" class="text-sm text-slate-700 font-medium">Exisiting Relationship<span class="text-red-500 ps-1">*</span></label>
                    <div class="mt-2">
                        <div class="flex items-center rounded-md px-3 border border-gray-300 bg-white">
                            <input type="text" name="Exisiting Relationship" id="inactivateExistingRelationship" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 font-medium">
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="col-span-2 border-b border-gray-300 -mx-3"></div>
        </ng-container>

        <ng-container *ngIf="formType === 'add-refset' || formType === 'change-refset'">
            <div class="col-span-2">
                <label for="memberConceptIds" class="text-sm text-slate-700 font-medium">Member Concept Ids (for extensional refsets only)</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md p-3 border border-gray-300 bg-white">
                        <textarea type="text" name="Member Concept Ids" id="memberConceptIds" class="grow text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-32 font-medium"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-span-2">
                <label for="eclQuery" class="text-sm text-slate-700 font-medium">ECL Query (for intensional refsets only)</label>
                <div class="mt-2">
                    <div class="flex items-center rounded-md p-3 border border-gray-300 bg-white">
                        <textarea type="text" name="ECL Query" id="eclQuery" class="grow text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-32 font-medium"></textarea>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="col-span-2">
            <label for="justification" class="text-sm text-slate-700 font-medium">Justification</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md p-3 border border-gray-300 bg-white">
                    <textarea type="text" name="Justification" id="justification" class="grow text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-32 font-medium"></textarea>
                </div>
            </div>
        </div>
        <div class="col-span-2">
            <label for="reference" class="text-sm text-slate-700 font-medium">Reference</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md p-3 border border-gray-300 bg-white">
                    <textarea type="text" name="Reference" id="reference" class="grow text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-32 font-medium"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="grid w-2/3 justify-self-center my-5">
        <div class="justify-self-end">
            <button class="rounded-md bg-slate-400 text-white px-3 py-1.5 font-medium content-end tracking-widest me-5">RESET</button>
            <button class="rounded-md bg-lime-600 text-white px-3 py-1.5 font-medium content-end tracking-widest">SUBMIT</button>
        </div>
    </div>
</div>
