/* Link styling for markdown comments (Vite colors) */
/* Using ::ng-deep to pierce Angular's view encapsulation for ngx-markdown component */
:host ::ng-deep .comments-section {
    markdown a,
    markdown p a,
    markdown div a,
    markdown * a,
    a {
        color: #646cff !important;
        /* Vite primary link color */
        text-decoration: underline;
    }

    markdown a:hover,
    markdown p a:hover,
    markdown div a:hover,
    markdown * a:hover,
    a:hover {
        color: #535bf2 !important;
        /* Vite hover color */
    }

    markdown a:visited,
    markdown p a:visited,
    markdown div a:visited,
    markdown * a:visited,
    a:visited {
        color: #747bff !important;
        /* Slightly dimmer visited color */
    }
}
