<div class="overflow-auto text-sm mt-12">
    <div class="border border-gray-300 overflow-auto w-2/3 justify-self-center m-5 rounded-lg">
        <table class="border-collapse table-auto w-full text-sm">
            <tbody class="bg-white dark:bg-slate-800">
            <tr class="bg-sky-50">
                <th class="font-normal text-slate-700 text-base py-2">#178</th>
                <th class="font-normal text-sky-500 text-base py-2">Please add a concept for Evolved Asthma</th>
                <th class="font-normal text-slate-700 text-base py-2">Add Concept</th>
                <th class="font-normal text-slate-700 text-base py-2">
                    <span class="rounded-full bg-red-500 text-white px-3 py-1 font-normal tracking-widest">REJECTED</span>
                </th>
                <th class="font-normal text-slate-700 text-base py-2">2025/03/18</th>
                <th class="font-normal text-slate-700 text-base py-2">Chris Swires</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="border border-gray-300 grid grid-cols-2 gap-6 w-2/3 justify-self-center mt-5 bg-slate-100 rounded-lg p-3">
        <div>
            <label for="name" class="text-sm text-slate-700 font-medium">Name</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <input type="text" name="Name" id="name" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                </div>
            </div>
        </div>
        <div>
            <label for="type" class="text-sm text-slate-700 font-medium">Type</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <select name="Type" id="type" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-9">
                        <option>Add Concept</option>
                        <option>Add Description</option>
                        <option>Add Relationship</option>
                        <option>Add Refset</option>
                        <option>Change Description</option>
                        <option>Change Relationship</option>
                        <option>Change Refset</option>
                        <option>Inactivate Description</option>
                        <option>Inactivate Relationship</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label for="languageRefset" class="text-sm text-slate-700 font-medium">Language Refset</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <select name="Language Refset" id="languageRefset" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-9">
                        <option>Belgian Dutch</option>
                        <option>Belgian French</option>
                        <option>Danish</option>
                        <option>French</option>
                        <option>IE English</option>
                        <option>GB English</option>
                        <option>Maori</option>
                        <option>Norwegian Bokmal</option>
                        <option>Norwegian Nynorsk</option>
                        <option>NZ English</option>
                        <option>Swedish</option>
                        <option>Swiss German</option>
                        <option>Swiss Italian</option>
                        <option>Swiss French</option>
                        <option>US English</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label for="contextRefset" class="text-sm text-slate-700 font-medium">Context Refset</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <select name="Context Refset" id="contextRefset" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-9">
                        <option>BE GP - Dutch</option>
                        <option>BE GP - French</option>
                        <option>NZ Patient Friendly - English</option>
                        <option>SE Chief Complaints</option>
                        <option>SE Dose Unit Abbr.</option>
                        <option>SE Lab Medicine</option>
                        <option>SE Dose Unit Plural</option>
                        <option>SE Medication Prof.</option>
                        <option>SE Medication Common</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 grid grid-cols-2 gap-6 w-2/3 justify-self-center mt-5 bg-slate-100 rounded-lg p-3">
        <div>
            <label for="newFSN" class="text-sm text-slate-700 font-medium">New FSN</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <input type="text" name="New FSN" id="newFSN" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                </div>
            </div>
        </div>
        <div>
            <label for="newPT" class="text-sm text-slate-700 font-medium">New Preferred Term</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <input type="text" name="New Preferred Term" id="newPT" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                </div>
            </div>
        </div>
        <div>
            <label for="newSynonyms" class="text-sm text-slate-700 font-medium">New Synonyms</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <input type="text" name="New Synonyms" id="newSynonyms" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                </div>
            </div>
        </div>
        <div>
            <label for="parentConcept" class="text-sm text-slate-700 font-medium">Parent Concept</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <i class="fa-solid text-slate-700 fa-search text-lg pe-2"></i>
                    <input type="text" name="Parent Concept" id="parentConcept" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 grid grid-cols-2 gap-6 w-2/3 justify-self-center mt-5 bg-slate-100 rounded-lg p-3">
        <div class="col-span-2">
            <label for="justification" class="text-sm text-slate-700 font-medium">Justification</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md p-3 border bg-white">
                    <textarea type="text" name="Justification" id="justification" class="grow text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 h-32"></textarea>
                </div>
            </div>
        </div>
        <div class="col-span-2">
            <label for="reference" class="text-sm text-slate-700 font-medium">Reference</label>
            <div class="mt-2">
                <div class="flex items-center rounded-md px-3 border bg-white">
                    <input type="text" name="Reference" id="reference" class="grow py-1.5 text-slate-700 placeholder:text-gray-400 focus:outline-none sm:text-sm/6">
                </div>
            </div>
        </div>
    </div>
</div>
