@use "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

html {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Museo;
    src: url("/fonts/Museo300-Regular.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

.museo {
    font-family: Museo, sans-serif;
    font-optical-sizing: auto;
}

.cdk-overlay-pane {
    background: #fff;
}

.mat-mdc-select {
    text-align: center;
    padding-right: 5px;
}

/* Global styling for links (Vite colors) */
a {
    color: #646cff; /* Vite primary link color */
    text-decoration: underline;
}

a:hover {
    color: #535bf2; /* Vite hover color */
}

a:visited {
    color: #747bff; /* Slightly dimmer visited color */
}
